@media screen and (max-width: 430px) {
    body {
        max-width: 430px;
        margin: 0;
    }

    .container{
        max-width: 430px;
    }

    .padding {
        padding-left: 13px;
        padding-right: 13px;
    }
    .first-page {
        max-width: 430px;
        height: 850px;
    }

    header {
        display: flex;
        height: 90px;
    }

    .logo {
        width: 150px;
        margin-right: 20px;
        margin: auto;
    }

    header a {
        font: normal normal 10px Poppins;
        text-decoration: none;
        display: none;
    }

    header a:first-of-type {
        margin-right: 0; 
    }

    /* CSS do pierwszej strony */
    section.banner {
        flex-direction: column;
        padding-top: 20px;
    }

    section .left {
        flex-direction: column;
    }

    section .left h2 {
        font-size: 25px;
        width: 350px;
    }

    section .left .line {
        width: 100px;
        margin: 15px 0;
    }

    section .left p {
        font: normal normal normal 14px/32px Poppins;
        width: 350px;
        margin-bottom: 25px;
    }

    section .button-banner {
        display: flex;
        justify-content: center;
    }

    section .left input, .second-page input, .third-page input{
        width: 120px;
        padding: 10px 15px;
        font: normal normal 600 13px Poppins;
    }

    section .right img {
        width: 300px;
    }

    .round {
        margin-top: 100px;
    }


    /* Druga strona */
    .second-page {
        max-width: 430px;
        margin-top: 20px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .second-page h2 {
        font-size: 25px;
        margin: 50px 0;
    }

    .second-page .cards {
        flex-direction: column;
        align-items: center;
    }

    .cards .card {
        width: 340px;
        height: 411px;
        margin-top: 10px;
        
    }

    .card:first-of-type, .card:nth-of-type(2){
        margin-right: 0;
    }

    .second-page a{
        margin-bottom: 35px;
        margin-top: 10px;
        font: normal normal 600 17px/50px Poppins;
    }
    /* Trzecia strona */

    .third-page {
        padding-bottom: 25px;
        max-width: 430px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .third-page h2 {
        padding-top: 50px;
        margin-bottom: 15px;
        font: normal normal bold 25px Poppins;
    }

    .third-page .boxes {
        flex-direction: column;
        align-items: center;
    }

    .boxes .box {
        width: 300px;
        height: 210px;
        margin-bottom: 10px;
        margin-right: 25px;
    }

    .boxes .box::before {
        border-top: 105px solid transparent;
        border-bottom: 105px solid transparent;
        z-index: 2;
    }

    .boxes .box::after {
        border-top: 105px solid transparent;
        border-bottom: 105px solid transparent;
    }

    .box-round{
        width: 72px;
        height: 72px;
    }

    .box-round img{
        height: 43px;
    }
    
    .box-header h3 {
        font: normal normal 25px Poppins;
    }

    .box .box-text p {
        font: normal normal bold 16px Poppins;
    }

    .box:nth-of-type(2) .box-text p {
        max-width: 309px;
    }

    /* Stopka */

    footer{
        padding: 15px;
    }

    /* Modale */

    .container-modal{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: unset;
        padding: 10px;
        max-width: 430px;
        max-height: 950px;
        width: auto;
    }

    .modal-logo{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 25px;
    }

    .modal-content{
        width: 340px;
        height: auto;
        padding: 20px;
        position: unset;
        margin: auto;
        margin-top: 20px;
    }

    .modal-content h2{
        color: #2D635A;
        font: normal normal normal 24px Abril Fatface;
    }

    .modal-content h3{
        color: #E1B9B5;
        font: normal normal 600 18px/25px Poppins;
    }

    .h3-margin{
        margin-top: 10px;
        margin-bottom: 12px;
    }

    .modal-content h4{
        font: normal normal  16px/22px Poppins;
        margin-bottom: 28px;
    }

    .answer input{
        width: 300px;
        font-size: 15px;
    }

    .next-question{
        display: flex;
        justify-content: flex-end;
        width: 33%;
    }

    .last-question{
        width: 33%;
    }

    .submit{
        display: flex;
        width: 210px;
        height: 50px;
        padding: 10px 24px;
        font-weight: 500;
    }


    .paragraph{
        font: normal normal 500 15px/24px Poppins;
    }


    .buttons{
        position: relative;
        margin-top: 25px;
    }

    .back{
        width: 90px;
        height: 19px;
        font: normal normal 16px/19px Roboto;
    }


    .alert-one, .alert-two, .alert-three{
        position: absolute;
        width: 100%;
        font-size: 12px;
        bottom: 55px;
        left: 60px;
    }
    /* Kolejny modal */
    .score{
        max-width: 430px;
        max-height: 950px;
        width: auto;
    }

    .score h3{
        font: normal normal normal 20px Poppins;
        margin-bottom: 10px;
    }

    .score h4{
        font: normal normal 23px Poppins;
        margin-bottom: 10px;
        width: 100%;
        height: 65px;

    }

    .score .par{
        width: 100%;
        height: 22px;
        font: normal bold 12px Poppins;
        margin-bottom: 10px;
    }

    .score p:nth-of-type(2){
        margin: 10px 0 10px 0;
        font: normal normal 14px Poppins;
        font-weight: 500;
    }

    .score p:nth-of-type(3){
        margin-bottom: 10px;
        font: normal normal 14px Poppins;
        font-weight: 500;
    }

    .score .end-button{
        width: 210px;
        height: 50px;
        padding: 10px 24px;
        margin-bottom: 0px;
    }

    .score .end-button p{
        font: normal normal 500 15px/24px Poppins;
    }

    .score p a, .score td a {
        margin-left: 10px;
    }

    .score table input{
        width: 15px;
        height: 15px;
    }

    .score table{
        height: 150px;
    }

    .score label{
        font: normal normal 14px Poppins;
        font-weight: 400;
    }
    .next-page{
        display: flex;
        align-items: center;
        margin: 0 0 15px 0px
    }

    .score span, .score a{
        color: #E1B9B5;
    }

    .score .images img, .score-round{
        display: none;
    }

    .button-nps{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}