@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins';
    max-width: 1920px;
    max-height: 2876px;
}

.padding{
    padding-left: 303px;
    padding-right: 286px;
}

.container{
    max-width: 1920px;
    background: #FBF9F5 0% 0% no-repeat padding-box;

}
/* Pierwsza strona */

.firstpage{
    background: #FBF9F5 0% 0% no-repeat padding-box;
    max-width: 1920px;
    height: 1080px;
}

/* CSS do headera */
header{
    display: flex;
    height: 110px;
    border-bottom: 1px solid #DDC1BC;
    align-items: center;
    background: transparent linear-gradient(223deg, #DEC1BCFC 0%, #E7D3CEFD 39%, #FBF9F5 100%) 0% 0% no-repeat padding-box;
}

header a{
    font-family: normal normal medium 18px/35px 'Poppins';
    text-decoration: none;
    color: black;
}

header a:first-of-type{
    margin-right: 52px;
}


.logo{
    margin-right: 690.65px;
}

/* CSS do pierwszej strony */

.banner{
    display: flex;
    align-items: center;
    padding-top: 73px;
}

.left h2{
    text-align: left;
    color: #2D645A;
    font-family: 'Abril Fatface';
    font-weight: 100;
    font-size: 42px;
}

.left .line{
    width: 193px;
    margin: 30px 0;
    border: 1.5px solid #ebbe45;
}

.left p{
    width: 586px;
    font: normal normal normal 18px/32px Poppins;
    text-align: left;
    margin-bottom: 50px;
}

.left input{
    background: #E1B9B5 0% 0% no-repeat padding-box;
    color: #543E3C;
    border: none;
    border-radius: 51px;
    padding: 21px 30px;
    font: normal normal 600 21px Poppins;
    letter-spacing: 0.21px;
    cursor: pointer;
}


.round{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E1B9B5 0% 0% no-repeat padding-box;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    margin: auto;
    margin-top: 304px;
}



/* Dalsza część */
